

.image {
  width: 100px;
  height: 100px;
  text-align: center;
  background: #eee;
  border: 1px solid #eee;
}

.page {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 20px;
}
